#header
  %h1
    Release Browser
#issues
  #nav
    =select_tag :selected_project, options_for_select(@projects_for_select, @selected_project)
    =select_tag :selected_version, options_for_select(@versions_for_select, @selected_version)
    =link_to 'toggle paged / unpaged lists', '#', :id => 'toggle_list'
  #paged
    -for issue in @issues
      .issue
        .key=link_to issue.key, "http://ordersets.jira.com/browse/#{issue.key}"
        .summary=issue.summary
    =paginate @issues

  %ul#unpaged
    -for issue in @unpaged_issues
      %li.issue
        =issue.summary
