=select_tag :selected_project, options_for_select(@projects_for_select, @selected_project)
=select_tag :selected_version, options_for_select(@versions_for_select, @selected_version)
%ui#issues
  -for issue in @issues
    %li.issue=issue.summary

:javascript
  $(function() {
    $("#selected_version").change(function(e) {
      var version = $(this).val();
      var project = $("#selected_project").val();
      window.location = window.location.pathname + "?selected_project=" + project + "&selected_version=" + version;
    });

    $("#selected_project").change(function(e) {
      var project= $(this).val();
      var version = $("#selected_version").val();
      window.location = window.location.pathname + "?selected_project=" + project;
    });
  });
